:root {
	color-scheme: light dark;

	--textcolor: light-dark(#454545, #d9d9d9);
	// e.g. borders of table.
	--strong-sep: light-dark(#454545, #a9a9a9);
	--light-sep: light-dark(#d3d3d3, #3c3c3c);
}

body {
	font-family: Open Sans, Arial;
	color: var(--textcolor);
	font-size: 18px;
	margin: 2em auto;
	max-width: 60em;
	padding: 1em;
	line-height: 1.4;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

a {
	color: var(--textcolor);
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .1rem;
}

/* Make linebreak stick close to the line above */
li.bulletless {
	list-style-type: none;
	line-height: 110%;
}

/* add margin between bulletless elements -> easier to differentiate linebreak
  and next item in the list. */
li.bulletless:not(:last-child) {
	margin-bottom: 6px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	text-indent: initial;
	border: solid 2px;
	border-radius: 5px;
	border-color: var(--strong-sep);

	:is(td,th) {
		border-left: solid 1px;
		border-top: solid 1px;
		padding: .5ch 1ch;
		border-color: var(--light-sep);
	}
	th {
		border-top: none;
	}

	td:first-child, th:first-child {
		border-left: none;
	}
}

a.file {
	font-weight: bold;
}

.fieldname {
	font-family: monospace;
	vertical-align: top;
}
